@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary-font: white;
    --background-color: #171b25;
    --primary-color: black;
    --secondary-color: rgb(251, 115, 25);
    --tertiary-color: linear-gradient(rgba(170.16deg),rgba(255,177,71,0.1)5.74%);
}

*{
    margin: 0;
    font-family: 'Antonio', sans-serif;
    color: var(--primary-font);
}

body{
    background: var(--background-color);
}
.container{
    padding: 0px 50px;
}
